<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Edit Details</title>
</head>

<body>
    <!-- Edit Modal -->
    <div class="modal fade" id="editList" tabindex="-1" aria-labelledby="editList" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit your Financial Details</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="d-flex justify-content-between mb-2">
                            <label for="netIncome" class="form-label">Monthly Net Income</label>
                            <input type="text" id="editNetIncome" placeholder="Kshs. 0">
                        </div>
                        <div class="d-flex justify-content-between mb-2">
                            <label for="bills" class="form-label">Monthly Bills and Expenses i.e rent, utilities,
                                transport</label>
                            <input type="text" id="editBills" placeholder="Kshs. 0">
                        </div>
                        <div class="d-flex justify-content-between">
                            <label for="editDebt" class="form-label">Monthly Debt Repayment</label>
                            <input type="text" id="editDebt" placeholder="Kshs. 0">
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="editForm()" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Edit Modal -->

    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>