<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>

<body>
    <!-- Home page that will be rendered -->
    <section class="intro-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-4 my-5">
                    <!-- created a border with a light background and changed its capacity. Also set the height of the border -->
                    <div class="bg-light bg-opacity-75 border rounded-4 shadow bg-body-tertiary" style="height: 600px;">
                        <h1 class="display-6 text-primary fw-light text-center mt-5">Lucre &#8208; Cash</h1>
                        <p class="text-center my-5 text-primary-emphasis">TRACK YOUR SPENDING</p>

                        <!-- created buttons on individual divs so that they can each take an entire block, adjusted their width, border-radius and background color -->
                        <div class="my-5 mb-5 text-center" >
                            <a href="/login" class="btn btn-outline-primary bg-light text-primary rounded-pill ps-5 pe-5 py-2" style="width: 300px;">LOGIN</a>
                        </div>
                        <div class="mb-5 text-center" >
                            <a href="/signup" class="btn btn-primary rounded-pill ps-5 pe-5 py-2" style="width: 300px;">
                                SIGN UP
                            </a>
                        </div>
                    </div>

                    
                </div>
                
            </div>

        </div>
<!-- End of home page -->
    </section>
</body>
</html>
